html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

body {
    background-image: url("http://localhost:3000/images/bg_placeholder.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

div, span {
    border: 0;
    margin: 0;
    padding: 0;
}

span {
    user-select: none;
    vertical-align: baseline;
    text-wrap: nowrap;
    text-decoration: none;
}

a {
    color: white;
}

/* classes */
/* Create a footer at the bottom of the page for playing music */
.tracknav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 620px;
    display: flex;
    flex-direction: row;
    height: auto;
    user-select: none;
}

.tracknav div {
    padding: 14px 16px;
}


/* The slider itself */
.slider {
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 7px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    cursor: inherit;
  }
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    cursor: inherit;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    border-radius: 50%;
    background: white;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}
  
.slider::-moz-range-thumb {
    border-radius: 50%;
    background: white;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.playbackdata {
    min-width: 40px;
    font-size: smaller;
    color: white;
    box-sizing: border-box;
    margin-block: 0;
}

/*drawing play button*/
.playbuttoninner {
    background-color: white;
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: var(--encore-button-corner-radius,9999px);
    font-size: inherit;
    min-block-size: var(--encore-control-size-smaller,48px);
    align-items: center;
    justify-content: center;
    inline-size: var(--encore-control-size-smaller,48px);
    block-size: var(--encore-control-size-smaller,48px);
}

.playbuttoninner:hover {
    transform: scale(1.05);
    background-color: #e7e7e7;
}

.playiconwrapper {
    display: flex;
    position: absolute;
}

.playicon {
    width: var(--encore-graphic-size-decorative-smaller,24px);
    height: var(--encore-graphic-size-decorative-smaller,24px);
}

/* drawing next and previous track buttons */
.tracknavbutton {
    overflow-wrap: anywhere;
    box-sizing: border-box;
  background-color: transparent;
  border: 0px;
  border-radius: var(--encore-button-corner-radius,9999px);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  
  min-inline-size: 0px;
  min-block-size: var(--encore-control-size-smaller,48px);
  padding-block: var(--encore-spacing-tighter-2,12px);
  padding-inline: var(--encore-spacing-tighter-2,12px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tracknavicon {
    width: var(--encore-graphic-size-decorative-smaller,24px);
    height: var(--encore-graphic-size-decorative-smaller,24px);
    fill: gray;

}
  

/* ids */

/* now playing - left aligned section of footer */
#nowplaying {
    width: 25%;
    min-width: 155px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#nowplayingimage {
    margin-inline-end: 8px;
    border-radius: 4px;
    background-color:  	#536878;
    background-image: url("http://localhost:3000/images/defaulttrackimage.png");
    border-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 96px;
    width: 96px;
}

#nowplayingdetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

#nowplayingsongname {
    display: flex;
    justify-self: start;
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    padding-inline-start: 6px;
    padding-bottom: 0;
    font-size: large;
}

#nowplayingartistname {
    justify-self: start;
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    padding-inline-start: 6px;
    padding-top: 4px;
    font-size: medium;
}

/* play controls - centrepiece of footer */
#playcontrols {
    width: 50%;
    min-width: 310px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playcontrolsbuttons {
    width: 100%;
    gap: 16px;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playbackposition {
    text-align: left;
}

#playbackduration {
    text-align: right;
}

#playcontrolsslider {
    width: 100%;
    display: flex;
    flex: 1 auto;
    align-items: center;
    box-sizing: border-box;
}

#playbutton {
    border-radius: 50%;
    align-self: center;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    border: 0px;
    user-select: none;
}

#playbutton:focus {
    outline: none;
}


/* queue controls - right aligned section of footer */
#queuecontrols {
    width: 25%;
    min-width: 155px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-direction: row;
}

#queuecontrolsbuttons {
    width: 100%;
    gap: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#volumeslider {
    width: 30%;
    min-width: 50;
    margin-inline-start: -10px;
}




