html,
body,
pre,
code,
kbd,
samp {
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nYivN04w.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("http://localhost:3000/images/crossing_dusk.jpg");
    background-color: #AC65CF;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

main {
    height: 84%;
    width: 100%;
    padding: 1% 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1%;
}

div,
span {
    border: 0;
    margin: 0;
    padding: 0;
}

span {
    user-select: none;
    vertical-align: baseline;
    text-wrap: nowrap;
    text-decoration: none;
}

a {
    color: white;
}

footer button:focus {
    outline: none;
}

/* classes */
/* Create a footer at the bottom of the page for playing music */
.tracknav {
    background-color: rgb(22, 22, 32);
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 620px;
    display: flex;
    flex-direction: row;
    height: 16%;
    user-select: none;
    overflow-y: hidden;
}

/* Track and volume sliders */
.slider {
    width: 100%;
    height: 10px;
    border-radius: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    cursor: inherit;
}

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
    cursor: inherit;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    border-radius: 50%;
    background: white;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

.slider::-moz-range-thumb {
    border-radius: 50%;
    background: white;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}


/*Current and end time stamps*/
.playbackdata {
    min-width: 40px;
    font-size: smaller;
    color: white;
    box-sizing: border-box;
    margin-block: 0;
    padding: 14px 16px;
}

/*drawing play button*/
.playbuttoninner {
    background-color: white;
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: var(--encore-button-corner-radius, 9999px);
    font-size: inherit;
    min-block-size: var(--encore-control-size-smaller, 48px);
    align-items: center;
    justify-content: center;
    inline-size: var(--encore-control-size-smaller, 48px);
    block-size: var(--encore-control-size-smaller, 48px);
}

.playbuttoninner:hover {
    transform: scale(1.05);
    background-color: #e7e7e7;
}

.playiconwrapper {
    display: flex;
    position: absolute;
}

.playicon {
    width: var(--encore-graphic-size-decorative-smaller, 24px);
    height: var(--encore-graphic-size-decorative-smaller, 24px);
}

/* drawing next and previous track buttons */
.tracknavbutton {
    overflow-wrap: anywhere;
    box-sizing: border-box;
    background-color: transparent;
    border: 0px;
    border-radius: var(--encore-button-corner-radius, 9999px);
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    min-inline-size: 0px;
    min-block-size: var(--encore-control-size-smaller, 48px);
    padding-block: var(--encore-spacing-tighter-2, 12px);
    padding-inline: var(--encore-spacing-tighter-2, 12px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* functional buttons in footer such as skip, shuffle, queue */
.tracknavicon {
    width: var(--encore-graphic-size-decorative-smaller, 24px);
    min-width: 16px;
    min-height: 16px;
    height: var(--encore-graphic-size-decorative-smaller, 24px);
    fill: #708090;
}

.tracknavicon:hover {
    transform: scale(1.05);
}

/* main panels */
.maindivs {
    background-color: lavender;
    opacity: 0;
    height: 100%;
    width: 32%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maindivs:hover {
    opacity: 0.95 !important;
    /*allows overwriting opacity value even after it was set by js*/
}

/*Lists of songs*/
.listwindow {
    border: 4px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

/*search songs panel */
.searchresultswrapper {
    display: flex;
    overflow: hidden;
    height: 100%;
    background-color: #bdc2c7;
    flex-direction: column;
}

.searchbar {
    display: flex;
    align-items: center;
    position: relative;
}

.clearbutton {
    background-image: url("http://localhost:3000/images/cross.png");
    position: absolute;
    right: 10px;
    top: 8px;
    height: 32px;
    width: 32px;
    opacity: 0.3;
    visibility: hidden;
}

/*tracklist class for both song list and playing queue.
Some of these classes relate to dynamically generated content*/
.tracklist .songname {
    font-size: small;
}

.tracklist .artistname {
    font-size: x-small;
}

.tracklist {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: scroll;
    list-style-type: none;
    height: 100%;
    overflow-x: auto;
}

.tracklistitem {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.trackdetailscontainer {
    display: inline-flex;
    padding-left: 1rem;
    overflow: hidden;
    flex-direction: column;
    flex-grow: 1;
}

.overflowwrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.actionmenucontainer {
    display: inline-flex;
    padding-right: 1rem;
    padding-left: 1rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.tracklist li {
    background-color: #8895a2;
    list-style: none;
    border-bottom: 2px solid black;
    display: block;
}

.tracklist li:hover, .tracklistitem:hover {
    background-color: #9f4995cc;
}

.queuehistory .songname, .queuehistory .artistname {
    opacity: 0.5;
}

.queuehistory {
    background-color: #454c53;
}

.queuecurrent {
    background-color: #2c3b46;
}

/* animate while dragging elements in the playing queue*/
.draggableQueue.over.dragging .tracklistitem {
    background-color: #AC65CF;
    box-shadow: 1px 1px 1px 1px #2e3942 inset;
}

.draggablePlaylist.over.dragging .tracklistitem {
    background-color: #AC65CF;
    box-shadow: 1px 1px 1px 1px #2e3942 inset;
}

.windowheader {
    box-shadow: 0px 0px 5px 1px black;
    position: relative;
    border-bottom: 4px solid black;
    text-align: center;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    user-select: none;
    z-index: 3;
    min-height: 54px;
}

.windowheader h1 {
    flex-grow: 1;
    font-size: x-large;
    text-align: left;
    padding-left: 1rem;
    overflow: auto;
    word-wrap: break-word;
}

.windowheader button {
    width: 136px;
}

/*pop out dropdown action menu on each song card */
.actionbuttonicon {
    pointer-events: none;
    display: inherit;
    width: 100%;
    height: 100%;
}

.actionbutton {
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 0;
    fill: white;
    position: relative;
}

.actionbutton:focus {
    outline: none;
}

.actionmenudropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    top: 0;
    left: 0;
}

.actionmenuoption {
    padding: 10px 15px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
    user-select: none;
    position: relative;
    height: 44px;
}

.actionmenuoption:hover {
    background-color: #f0f0f0;
}

.toggledon {
    fill: white;
}

.playlistname {
    justify-self: start;
    width: 100%;
    display: flex;
    white-space: nowrap;
    padding-inline-start: 6px;
    padding-top: 4px;
    font-size: medium;
}

.playlistlength {
    justify-self: start;
    width: 100%;
    display: flex;
    white-space: nowrap;
    padding-inline-start: 6px;
    font-size: x-small;
    color: #dfe7ee;
}

/* search songs panel */
/* search bar input */
.searchsongs {
    width: 100%;
    background-image: url("http://localhost:3000/images/searchicon.png");
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    padding: 12px 52px 12px 50px;
    /* Add some padding */
    background-position: 8px 8px;
    appearance: none;
    border-style: none;
    border: none;
    border-bottom: 4px solid black;
}

.searchsongs:focus {
    outline: none;
}

/*certain action menu options shouldn't be present in the song library tab*/
#songlist .queueoption {
    display: none;
}

.playlistpopup {
    height: 200px;
    width: 300px;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    overflow-y: scroll;
}

.playlistoption {
    width: 100%; 
    padding: 10px 15px;
    user-select: none;
    overflow: hidden;
    height: 44px;
}

.playlistoption:hover {
    background-color: #f0f0f0;
}






/* ids */

/* now playing - left aligned section of footer */
#nowplaying {
    width: 30%;
    min-width: 155px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

#nowplayingimagecontainer {
    padding: 14px 16px;
}

#nowplayingimage {
    margin-inline-end: 8px;
    border-radius: 4px;
    background-color: #536878;
    background-image: url("http://localhost:3000/images/defaulttrackimage.png");
    border-radius: 5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 96px;
    width: 96px;
}

/* disabled for now
#nowplayingimage:hover {
    border: 1px solid white;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

#nowplayingimage:active {
    border: 1px solid #D072D0;
}
    */

#nowplayingdetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    padding-left: 0;
    padding: 14px 16px;
}

#nowplayingsongname {
    display: flex;
    justify-self: start;
    width: 100%;
    display: flex;
    white-space: nowrap;
    padding-inline-start: 6px;
    padding-bottom: 0;
    font-size: small;
}

#nowplayingartistname {
    justify-self: start;
    width: 100%;
    display: flex;
    white-space: nowrap;
    padding-inline-start: 6px;
    padding-top: 4px;
    font-size: smaller;
    opacity: 0.7;
}

/* play controls - centrepiece of footer */
#playcontrols {
    width: 40%;
    min-width: 310px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playcontrolsbuttons {
    width: 100%;
    gap: 16px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#playbackposition {
    text-align: left;
    margin-right: 14px;
}

#playbackduration {
    text-align: right;
    margin-left: 14px;
}

#playcontrolsslider {
    width: 100%;
    display: flex;
    flex: 1 auto;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
}

#playbutton {
    border-radius: 50%;
    align-self: center;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    border: 0px;
    user-select: none;
}


/* queue controls - right aligned section of footer */
#queuecontrols {
    width: 30%;
    min-width: 155px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-direction: row;
    padding: 0;
}

#queuecontrolsbuttons {
    width: 100%;
    gap: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#volumeslider {
    width: 60%;
    min-width: 50;
}

#volumecontrols {
    padding: 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#artistlist {
    display: none;
}

#artistlist .artistname {
    font-size: small;
}

#playlistsonglist {
    display: none;
}

#shufflelibrarybutton svg{
    fill: white;
}

#shufflelibrarybutton {
    margin-right: 16px;
    width: 48px;
}